ul {
  list-style-type: none;
}

.header-list {
  display:inline-block;
  float: right;
  margin-left: 10px;
}

.bulletlist {
  list-style-type: disc;
}

.jumbo-title {
  text-align: center;
}

ul.navbar-list {
  padding-left: 0;
}

hr{
  border-color: #9b9fa5;
  padding-top: 0;
  margin-top: 0;
}

.container {
  border-left: 1px solid black;
}

.featured {
  padding-top: 5%;
  padding-bottom: 5%;
}

.info {
  background-color: #eaf7fb;
}
.lightgreen{
  background-color: #edf7ed;
}
.pink {
  background-color: #ff66b3;
}
.lightpink {
  background-color: #ffe6f2;
}
